@tailwind base;
@tailwind components;
@tailwind utilities;

.containers {
    max-width: 1280px; /* set the maximum width for the container */
    margin: 0 auto; /* center the container horizontally */
    padding: 0 1rem; /* add padding to the container */
  }
  